<template>
  <div class="about">
    <h1>Карточка студента</h1>
    <student-estimation v-for="student in card" :key="student.id" :student="student">        
    </student-estimation>
  </div>
</template>

<script>
import StudentEstimation from '@/components/StudentEstimation.vue'
export default { 
components: {
    StudentEstimation
  },     
  props: {
        card: {
            type: Array,
            required: true,
        }
    }    
}
</script>
