<template>
  <div>    
    <h1>Электронный дневник</h1>
    <h2>Список студентов</h2>
  </div>
  <student-card v-for="student in students" :key="student.id" :student="student">    
    <button class="сartStud" @click="$emit('cardToStudent', student)">Карточка студента</button>    
    <button class="сartStud" @click="$emit('lessonToStudent')">Оцена занятия</button>    
  </student-card>        
</template>

<script>
import StudentCard from '@/components/StudentCard.vue'

export default {  
  components: {
    StudentCard
  },
  props: {
        students: {
            type: Array,
            required: true,
        }
    }
}
</script>

<style scoped>
*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.сartStud{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  border:none;
  background-color:#B22222;
  color: white;
  font-size: 15px;
}
</style>
