<template>
  <div class="about">  
    <h1>Занятия</h1>
    <div>
    <div class="form-result">
    <label>ФИО студента: </label>
    <select v-model="selectedStudent">
    <option v-for="student in students" :key="student.id" v-bind:value="student.fio" class="form-select">{{student.fio}}</option>
    </select>
    </div>
    <div>
    <input type="number" v-model="resultStudent" min="1" max="12" placeholder="Введите оценку" class="form-input" /><br>   
    <p :result="result">{{ result }}</p>    
    </div>
    <button v-if="resultStudent!='' && selectedStudent!=''" @click="Show()" class="resultButton" :students="students">Выставить оценку</button>
    </div>
    <div v-for="lesson in lessons" :key="lesson.id">
    <br/> 
    <a :href=lesson.url target="_blank">{{ lesson.title }}</a>
  <div>
  <input type="checkbox" id="checkbox" v-model="lesson.isChecked" v-bind:true-value="on" v-bind:false-value="off">
  <span v-if="lesson.isChecked===on">Выбрать</span>
  <span v-else>Отменить</span>  
  </div>          
  </div>    
  </div>
</template>

<script>
export default {
props: {
        students: {
            type: Array,
            required: true,
        }
    },    
  data() {  
    return {      
      lessons: [
        {
          id: 1,
          title: "Постигаем Vue.js - установка и основные понятия",
          url: "https://youtu.be/qXhmJhR0Fhg",
          data: "16.01.2023",
          isChecked: false
        },
        {
          id: 2,
          title: "Постигаем Vue.js - v-for, computed, watch",
          url: "https://youtu.be/qXhmJhR0Fhg",
          data: "18.01.2023",
          isChecked: false
        },
        {
          id: 3,
          title: "Постигаем Vue.js - v-for, computed, watch",
          url: "https://youtu.be/qXhmJhR0Fhg",
          data: "18.01.2023",
          isChecked: false
        },
        {
          id: 4,
          title: "Постигаем Vue.js - v-for, computed, watch",
          url: "https://youtu.be/qXhmJhR0Fhg",
          data: "18.01.2023",
          isChecked: false
        }
      ],
      lesson: [], 
      selectedStudent:'',
      resultStudent: '',
      on: true,
      off:false,
      result: ''      
    };
  },
  computed:{
  function(){  
  return "доступ разрешен";
  }  
  },
  methods: {
  Show() {  
  this.result = this.selectedStudent + ", оценка: " + this.resultStudent;
  this.lesson.push(this.result);
  localStorage.setItem('result',this.result);  
  }
  }
}
</script>
<style >
*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p{
  margin-top: 10px;
}

.resultButton{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border:none;
  background-color:#B22222;
  color: white;
  font-size: 15px;
}
.form-input {
margin-top: 20px;
width: 20%;
line-height: 1.5;
font-weight: 400;
border: 1px solid #bdbdbd;
padding: 0.375rem 0.75rem;
}
select {
width: 20%;
padding: .35rem 2.5rem .35rem 1rem;
border: 1px solid #ccc;
border-radius: 0.25em;
background-color: #fff;
background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}
.form-result {
margin-top: 20px;
}
</style>
