<template>
  <div>
  <p>ФИО студента: {{ student.fio }}</p>
  <p>Специальность: {{ student.spec }}</p>
  <p>Группа: {{ student.group }}</p>
  <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
        student: {
            required: true,
            type: Object,
        }
    }    
}
</script>

