<template>
  <nav>
    <router-link to="/">Главная</router-link> |
    <router-link to="/lesson">Занятия</router-link> |
    <router-link to="/cart">Карточка студента</router-link>
  </nav>
  <router-view :students="students" :lessons="lessons" :card="card" :lesson_card="lesson_card" @cardToStudent="cardToStudent" @lessonToStudent="lessonToStudent">
  </router-view>  
</template>

<script>
export default {      
  data() {
    return {      
      students: [
        {
          id: 1,
          fio: "Иванов Семён Дмитриевич",
          spec: "Информатика",
          group: "Info-1",
          phone: "8-777-750-3010",
          address: "5-1-42"
        },
        {
          id: 2,
          fio: "Сергеев Иван Александрович",
          spec: "Экономика",
          group: "Econ-2",
          phone: "8-777-850-4415",
          address: "5-1-43"
        },
        {
          id: 3,
          fio: "Сергеев Алексей Александрович",
          spec: "Экономика",
          group: "Econ-2",
          phone: "8-707-510-1018",
          address: "8-1-12"
        },
        {
          id: 4,
          fio: "Петров Александр Иванович",
          spec: "Информатика",
          group: "Info-1",
          phone: "8-747-114-5008",
          address: "9-1-54"
        }
      ],
      card: [],      
    };
    },
    methods: {
      cardToStudent(student) {
      this.card.splice(student);
      this.card.push(student);      
      this.$router.push("/cart");      
      },
      lessonToStudent() {
      this.$router.push("/lesson");      
      }          
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
